body {
    font-family: 'Jost', sans-serif;
    background-color: #F8EFE9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #512D7A;
}

.login-container {
    background-color: #EAD1DC;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    font-family: 'Livvic', sans-serif;
    color: #512D7A;
    text-align: center;
    margin: 0 0 20px;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #EAD1DC;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #512D7A;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: #3A1A55;
}

.form-footer,
.social-signin {
    text-align: center;
    margin-top: 20px;
}

.form-footer a,
.social-signin button {
    text-decoration: none;
    color: #512D7A;
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.btn-facebook,
.btn-google,
.btn-twitter,
.btn-instagram {
    background-color: white;
    width: 100%;
}

.btn-google {
    background-color: #fff;
    width: 100%;
}

.btn-twitter {
    background-color: #fff;
}

.btn-instagram {
    background-color: #fff;
}

.btn-facebook:hover {
    background-color: #0866FF;
    color: white;
}

.btn-google:hover {
    background-color: #c1351e;
}

.btn-twitter:hover {
    background-color: #198cd5;
}

.btn-instagram:hover {
    background-color: #C13584;
}


p {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
    color: #7C45BA;
}

h3 {
    font-family: 'Unna', serif;
    text-transform: uppercase;
}

span {
    font-family: 'Young Serif', serif;
    font-size: 1.2rem;
    font-weight: 400;
}

body {
    background-color: #F7F4EF;
}

.input {
    width: 500px;
    height: 30px;
}

.searchrow {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    clear: both;
}

.searchbar {
    width: 100%;
}

.logorow {
    display: flex;
    align-items: center;
    gap: 10px;
    clear: both;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

input {
    /*
    padding-top: 4px; 
    padding-bottom: 4px; 
    */
    padding-left: 22px;
    padding-right: 22px;
    height: 40px;
}

section.card {
    display: flex;
    background-color: white;
    width: 80%;
    padding-right: 0px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

img.card {
    padding: 0px;
}

img.icon_title {
    height: 24px;
    width: 24px;
}

.cardstack {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.innerCardContent {
    display: block;
    flex-flow: row;
}

.btn {
    background-color: #7C45BA;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.btn:hover {
    background-color: #A84D75;
    color: white;
}