p {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #7C45BA;
}

h2 {
    font-family: 'Livvic', sans-serif;
    color: #512D7A;
    text-align: center;
    margin: 0 0 20px;
}

h3 {
    font-family: 'Unna', serif;
}

span {
    font-family: 'Young Serif', serif;
    font-size: 1.2rem;
    font-weight: 400;
}

body {
    background-color: #F7F4EF;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: 0;
    color: #512D7A;
}

header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.input[text],
select {
    width: 500px;
    height: 25px;
    border: 1px solid #EAD1DC;
    border-radius: 5px;
    box-sizing: border-box;
}

input[checkbox] {
    width: 24px;
}

input {
    height: 30px;
}

.searchrow {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    clear: both;
    height: 40px;
}

.searchbar {
    width: 300px;
    height: 40px;
}

.logorow {
    display: flex;
    align-items: center;
    gap: 10px;
    clear: both;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

input[text],
select {
    /*
    padding-top: 4px; 
    padding-bottom: 4px; 
    */
    padding-left: 22px;
    padding-right: 22px;
    height: 40px;
}

section.card {
    display: flex;
    background-color: white;
    width: 80%;
    padding-right: 0px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

img.card {
    padding: 0px;
}

img.icon_title {
    height: 24px;
    width: 24px;
}

.cardstack {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.innerCardContent {
    display: block;
    flex-flow: row;
}

.btn {
    background-color: #7C45BA;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.btn:hover {
    background-color: #A84D75;
    color: white;
}

.secondarybtn {
    background-color: #fff;
    border: 1 solid #7C45BA;
    color: #7C45BA;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.secondarybtn:hover {
    background-color: #A84D75;
    color: white;
}

.container {
    margin-left: 200px;
    display: inline-flex;
    width: 100%;
}

.image-container {
    margin-left: 20px;
    /* Adjust the margin as needed */
    width: 50%;
}

.formcontainer {

    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

footer {
    height: 100px;
    display: block;
    justify-content: baseline;
    text-align: center;
}

#displayResult {
    margin-left: 200px;
}