p {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 3rem;
    color: #7C45BA;
}

h3 {
    font-family: 'Unna', serif;
    text-transform: uppercase;
}

span {
    font-family: 'Young Serif', serif;
    font-size: 1.2rem;
    font-weight: 400;
}

body {
    background-color: #F7F4EF;
}

.input {
    width: 500px;
    height: 30px;
}

.searchrow {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    clear: both;
}

.searchbar {
    width: 100%;
}

.logorow {
    display: flex;
    align-items: center;
    gap: 10px;
    clear: both;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

input {
    /*
    padding-top: 4px; 
    padding-bottom: 4px; 
    */
    padding-left: 22px;
    padding-right: 22px;
    height: 40px;
}

section.card {
    display: flex;
    background-color: white;
    width: 80%;
    padding-right: 0px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

img.card {
    padding: 0px;
}

img.icon_title {
    height: 24px;
    width: 24px;
}

.cardstack {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.innerCardContent {
    display: block;
    flex-flow: row;
}

.btn {
    background-color: #7C45BA;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

.btn:hover {
    background-color: #A84D75;
    color: white;
}